# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv
venv/

# =========================
# Ultralytics / YOLO
# =========================
runs/
datasets/
weights/
*.pt

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs / Cache
# =========================
*.log
.cache/
ultralytics/
~/.cache/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Build
# =========================
build/
dist/
git rm -r --cached runs venv *.pt
