# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Ambientes virtuais
# =========================
venv/
env/
.venv/
ENV/
virtualenv/

# =========================
# Distribuição / build
# =========================
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# =========================
# Logs
# =========================
*.log

# =========================
# Testes
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDEs e editores
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Variáveis de ambiente
# =========================
.env
.env.*

# =========================
# Banco de dados (se usar SQLite)
# =========================
*.sqlite3
*.db

# =========================
# Flask / Django
# =========================
instance/
*.pid
*.sock
